In [161]:
import pandas as pd
global_data = pd.read_csv('world-data-2023.csv')
pd.set_option('display.max_columns', None)  
pd.set_option('display.max_rows', None)

In [162]:
#getting brief look on data
global_data.head()
#global_data.sample(n=5)

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,Latitude,Longitude
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",33.939110,67.709953
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",41.153332,20.168331
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",28.033886,1.659626
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",42.506285,1.521801
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",-11.202692,17.873887

In [163]:
#getting basic informations about dataset 
global_data.columns
global_data.dtypes
global_data.shape

(195, 35)

In [164]:
#Cleaning data and interpolation 
#showing the columns with missing values
missing_values = global_data.isnull().sum()
missing_values = missing_values[missing_values>0]
print(missing_values)

Abbreviation                                  7
Agricultural Land( %)                         7
Land Area(Km2)                                1
Armed Forces size                            24
Birth Rate                                    6
Calling Code                                  1
Capital/Major City                            3
Co2-Emissions                                 7
CPI                                          17
CPI Change (%)                               16
Currency-Code                                15
Fertility Rate                                7
Forested Area (%)                             7
Gasoline Price                               20
GDP                                           2
Gross primary education enrollment (%)        7
Gross tertiary education enrollment (%)      12
Infant mortality                              6
Largest city                                  6
Life expectancy                               8
Maternal mortality ratio                     14
Minimum wage                                 45
Official language                             5
Out of pocket health expenditure              7
Physicians per thousand                       7
Population                                    1
Population: Labor force participation (%)    19
Tax revenue (%)                              26
Total tax rate                               12
Unemployment rate                            19
Urban_population                              5
Latitude                                      1
Longitude                                     1
dtype: int64

In [165]:
#adding countries regions 
global_data2 = pd.read_csv('countries of the world.csv')
global_data2.head()
global_data2.shape

(227, 20)

In [166]:
global_data.shape
global_data.head()

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,Latitude,Longitude
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",33.939110,67.709953
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",41.153332,20.168331
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",28.033886,1.659626
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",42.506285,1.521801
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",-11.202692,17.873887

In [ ]:
global_data['Country'] = global_data['Country'].str.strip().str.lower()
global_data2['Country'] = global_data2['Country'].str.strip().str.lower()

# Dodanie regionu przez dopasowanie po kolumnie 'Country'
#global_data = pd.merge(global_data2[['Country', 'Region']],global_data, on='Country', how='right')

In [168]:
region = global_data['Region']
missing_regions = region.isna().value_counts()
print(missing_regions)

Region
False    173
True      22
Name: count, dtype: int64

In [169]:
#getting countries with missing values
missing_regions_values = global_data.loc[global_data['Region'].isnull()]
print(missing_regions_values)

                              Country Region Density\n(P/Km2) Abbreviation  \
5                 antigua and barbuda    NaN              223           AG
11                        the bahamas    NaN               39           BS
21             bosnia and herzegovina    NaN               64           BA
28                        ivory coast    NaN               83           CI
33           central african republic    NaN                8           CF
39              republic of the congo    NaN               16          NaN
45   democratic republic of the congo    NaN               40           CD
56                           eswatini    NaN               67          NaN
62                         the gambia    NaN              239           GM
73                       vatican city    NaN            2,003          NaN
81                republic of ireland    NaN               72          NaN
111    federated states of micronesia    NaN              784           FM
115                        montenegro    NaN               47           ME
118                           myanmar    NaN               83           MM
127                       north korea    NaN              214           KP
128                   north macedonia    NaN               83          NaN
133    palestinian national authority    NaN              847          NaN
145             saint kitts and nevis    NaN              205           KN
150                      s�����������    NaN              228           ST
162                       south korea    NaN              527           KR
163                       south sudan    NaN               18           SS
177               trinidad and tobago    NaN              273           TT

    Agricultural Land( %) Land Area(Km2) Armed Forces size  Birth Rate  \
5                  20.50%            443                 0       15.33
11                  1.40%         13,880             1,000       13.97
21                 43.10%         51,197            11,000        8.11
28                 64.80%        322,463            27,000       35.74
33                  8.20%        622,984             8,000       35.35
39                 31.10%        342,000            12,000       32.86
45                 11.60%      2,344,858           134,000       41.18
56                    NaN         17,364               NaN         NaN
62                 59.80%         11,300             1,000       38.54
73                    NaN              0               NaN         NaN
81                 64.50%         70,273             9,000       12.50
111                31.40%            702               NaN       22.82
115                19.00%         13,812            12,000       11.73
118                19.50%        676,578           513,000       17.55
127                21.80%        120,538         1,469,000       13.89
128                   NaN         25,713               NaN         NaN
133                   NaN            NaN               NaN         NaN
145                23.10%            261               NaN       12.60
150                50.70%            964             1,000       31.54
162                17.40%         99,720           634,000        6.40
163                   NaN        644,329           185,000       35.01
177                10.50%          5,128             4,000       12.94

     Calling Code      Capital/Major City Co2-Emissions       CPI  \
5             1.0  St. John's, Saint John           557    113.81
11            1.0         Nassau, Bahamas         1,786    116.22
21          387.0                Sarajevo        21,848     104.9
28          225.0            Yamoussoukro         9,674    111.61
33          236.0                  Bangui           297    186.86
39          242.0             Brazzaville         3,282    124.74
45          243.0                Kinshasa         2,021    133.85
56          268.0                 Mbabane           NaN       NaN
62          220.0                  Banjul           532    172.73
73          379.0            Vatican City           NaN       NaN
81          353.0                  Dublin        37,711    106.58
111         691.0                 Palikir           143     112.1
115         382.0               Podgorica         2,017    116.32
118          95.0               Naypyidaw        25,280    168.18
127         850.0               Pyongyang        28,284       NaN
128         389.0                  Skopje           NaN       NaN
133           NaN                     NaN           NaN       NaN
145           1.0              Basseterre           238    104.57
150         239.0                   S����           121    185.09
162          82.0                   Seoul       620,302    115.16
163         211.0                    Juba         1,727  4,583.71
177           1.0           Port of Spain        43,868    141.75

    CPI Change (%) Currency-Code  Fertility Rate Forested Area (%)  \
5            1.20%           XCD            1.99            22.30%
11           2.50%           NaN            1.75            51.40%
21           0.60%           BAM            1.27            42.70%
28          -0.90%           XOF            4.65            32.70%
33          37.10%           NaN            4.72            35.60%
39           2.20%           XAF            4.43            65.40%
45           2.90%           CDF            5.92            67.20%
56             NaN           NaN             NaN               NaN
62           7.10%           GMD            5.22            48.40%
73             NaN           EUR             NaN               NaN
81           0.90%           EUR            1.75            11.00%
111          0.50%           USD            3.05            91.90%
115          2.60%           EUR            1.75            61.50%
118          8.80%           MMK            2.15            43.60%
127            NaN           KPW            1.90            40.70%
128            NaN           MKD             NaN               NaN
133            NaN           NaN             NaN               NaN
145         -1.00%           XCD            2.11            42.30%
150          7.90%           STN            4.32            55.80%
162          0.40%           KRW            0.98            63.40%
163        187.90%           SSP            4.70               NaN
177          1.00%           TTD            1.73            46.00%

    Gasoline Price                  GDP  \
5           $0.99       $1,727,759,259
11          $0.92      $12,827,000,000
21          $1.05      $20,047,848,435
28          $0.93      $58,792,205,642
33          $1.41       $2,220,307,369
39          $0.97      $10,820,591,131
45          $1.49      $47,319,624,204
56             NaN      $3,791,304,348
62          $1.18       $1,763,819,048
73             NaN                  NaN
81          $1.37     $388,698,711,348
111            NaN        $401,932,279
115         $1.16       $5,494,736,901
118         $0.54      $76,085,852,617
127         $0.58      $32,100,000,000
128            NaN     $10,220,781,069
133            NaN                  NaN
145            NaN      $1,050,992,593
150            NaN        $429,016,605
162         $1.22   $2,029,000,000,000
163         $0.28      $11,997,800,751
177         $0.54      $24,100,202,834

    Gross primary education enrollment (%)  \
5                                  105.00%
11                                  81.40%
21                                     NaN
28                                  99.80%
33                                 102.00%
39                                 106.60%
45                                 108.00%
56                                     NaN
62                                  98.00%
73                                     NaN
81                                 100.90%
111                                 97.20%
115                                100.00%
118                                112.30%
127                                112.80%
128                                    NaN
133                                    NaN
145                                108.70%
150                                106.80%
162                                 98.10%
163                                 73.00%
177                                106.20%

    Gross tertiary education enrollment (%)  Infant mortality  \
5                                    24.80%               5.0
11                                   15.10%               8.3
21                                   23.30%               5.0
28                                    9.30%              59.4
33                                    3.00%              84.5
39                                   12.70%              36.2
45                                    6.60%              68.2
56                                      NaN               NaN
62                                    2.70%              39.0
73                                      NaN               NaN
81                                   77.80%               3.1
111                                  14.10%              25.6
115                                  56.10%               2.3
118                                  18.80%              36.8
127                                  27.00%              13.7
128                                     NaN               NaN
133                                     NaN               NaN
145                                  86.70%               9.8
150                                  13.40%              24.4
162                                  94.30%               2.7
163                                     NaN              63.7
177                                  12.00%              16.4

               Largest city  Life expectancy  Maternal mortality ratio  \
5    St. John's, Saint John             76.9                      42.0
11          Nassau, Bahamas             73.8                      70.0
21             Tuzla Canton             77.3                      10.0
28                  Abidjan             57.4                     617.0
33                   Bangui             52.8                     829.0
39              Brazzaville             64.3                     378.0
45                 Kinshasa             60.4                     473.0
56                  Mbabane              NaN                       NaN
62                Serekunda             61.7                     597.0
73                      NaN              NaN                       NaN
81                 Connacht             82.3                       5.0
111                 Palikir             67.8                      88.0
115               Podgorica             76.8                       6.0
118                  Yangon             66.9                     250.0
127               Pyongyang             72.1                      89.0
128                  Skopje              NaN                       NaN
133                     NaN              NaN                       NaN
145              Basseterre             71.3                       NaN
150                   S����             70.2                     130.0
162                   Seoul             82.6                      11.0
163                    Juba             57.6                    1150.0
177               Chaguanas             73.4                      67.0

    Minimum wage     Official language Out of pocket health expenditure  \
5         $3.04                English                           24.30%
11        $5.25                English                           27.80%
21        $1.04                Bosnian                           28.60%
28        $0.36                 French                           36.00%
33        $0.37                 French                           39.60%
39        $0.88                 French                           43.80%
45        $0.18                 French                           37.40%
56           NaN               English                           11.30%
62        $0.13                English                           20.30%
73           NaN               Italian                              NaN
81       $10.79                  Irish                           15.20%
111          NaN               English                            2.50%
115       $1.23   Montenegrin language                           31.80%
118       $0.39                Burmese                           73.90%
127          NaN                Korean                              NaN
128          NaN            Macedonian                           35.60%
133          NaN                Arabic                              NaN
145       $3.33                English                           56.60%
150          NaN                   NaN                           11.70%
162       $6.49                 Korean                           36.80%
163          NaN               English                           61.30%
177       $2.25                English                           37.30%

     Physicians per thousand  Population  \
5                       2.76      97,118
11                      1.94     389,482
21                      2.16   3,301,000
28                      0.23  25,716,544
33                      0.06   4,745,185
39                      0.12   5,380,508
45                      0.07  86,790,567
56                       NaN   1,093,238
62                      0.10   2,347,706
73                       NaN         836
81                      3.31   5,007,069
111                     0.18     113,815
115                     2.76     622,137
118                     0.68  54,045,420
127                     3.67  25,666,161
128                      NaN   1,836,713
133                      NaN         NaN
145                     2.52      52,823
150                     0.05     215,056
162                     2.36  51,709,098
163                      NaN  11,062,113
177                     4.17   1,394,973

    Population: Labor force participation (%) Tax revenue (%) Total tax rate  \
5                                         NaN          16.50%         43.00%
11                                     74.60%          14.80%         33.80%
21                                     46.40%          20.40%         23.70%
28                                     57.00%          11.80%         50.10%
33                                     72.00%           8.60%         73.30%
39                                     69.40%           9.00%         54.30%
45                                     63.50%          10.70%         50.70%
56                                        NaN          28.60%            NaN
62                                     59.40%           9.40%         48.40%
73                                        NaN             NaN            NaN
81                                     62.10%          18.30%         26.10%
111                                       NaN          25.20%         60.50%
115                                    54.40%             NaN         22.20%
118                                    61.70%           5.40%         31.20%
127                                    80.40%             NaN            NaN
128                                       NaN             NaN            NaN
133                                       NaN             NaN            NaN
145                                       NaN          18.50%         49.70%
150                                    57.80%          14.60%         37.00%
162                                    63.00%          15.60%         33.20%
163                                    72.40%             NaN         31.40%
177                                    60.00%          19.50%         40.50%

    Unemployment rate Urban_population   Latitude   Longitude
5                 NaN           23,800  17.060816  -61.796428
11             10.36%          323,784  25.034280  -77.396280
21             18.42%        1,605,144  43.915886   17.679076
28              3.32%       13,176,900   7.539989   -5.547080
33              3.68%        1,982,064   6.611111   20.939444
39              9.47%        3,625,010  -0.228021   15.827659
45              4.24%       39,095,679  -4.038333   21.758664
56                NaN              NaN -26.522503   31.465866
62              9.06%        1,453,958  13.443182  -15.310139
73                NaN              NaN  41.902916   12.453389
81              4.93%        3,133,123  53.412910   -8.243890
111               NaN           25,963   7.425554  150.550812
115            14.88%          417,765  42.708678   19.374390
118             1.58%       16,674,093  21.916221   95.955974
127             2.74%       15,947,412  40.339852  127.510093
128               NaN              NaN  41.608635   21.745275
133               NaN              NaN  31.952162   35.233154
145               NaN           16,269  17.357822  -62.782998
150            13.37%          158,277        NaN         NaN
162             4.15%       42,106,719  35.907757  127.766922
163            12.24%        2,201,250   6.876992   31.306979
177             2.69%          741,944  10.691803  -61.222503

In [ ]:
# spoko moga byc porownania krajow o tej samej gestosci zaludnienia np i pkb per capita jak to wplywa i np sprzezenie do tego regionu tez jakos