Getting data and some informations about them

In [55]:
import pandas as pd
global_data = pd.read_csv('world-data-2023.csv')
pd.set_option('display.max_columns', None)  
pd.set_option('display.max_rows', None)

In [56]:
global_data.sample(n=5)

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,Latitude,Longitude
152,Senegal,87,SN,46.10%,"196,722","19,000",34.52,221.0,Dakar,"10,902",109.25,1.80%,XOF,4.63,42.80%,$1.14,"$23,578,084,052",81.00%,12.80%,31.8,Pikine,67.7,315.0,$0.31,French,44.20%,0.07,"16,296,364",45.70%,16.30%,44.80%,6.60%,"7,765,706",14.497401,-14.452362
16,Belgium,383,BE,44.60%,"30,528","32,000",10.30,32.0,City of Brussels,"96,889",117.11,1.40%,EUR,1.62,22.60%,$1.43,"$529,606,710,418",103.90%,79.70%,2.9,Brussels,81.6,5.0,$10.31,French,17.60%,3.07,"11,484,055",53.60%,24.00%,55.40%,5.59%,"11,259,082",50.503887,4.469936
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",28.033886,1.659626
20,Bolivia,11,BO,34.80%,"1,098,581","71,000",21.75,591.0,Sucre,"21,606",148.32,1.80%,BOB,2.73,50.30%,$0.71,"$40,895,322,865",98.20%,NaN,21.8,Santa Cruz de la Sierra,71.2,155.0,$1.36,Spanish,25.90%,1.59,"11,513,100",71.80%,17.00%,83.70%,3.50%,"8,033,035",-16.290154,-63.588653
86,Jordan,115,JO,12.00%,"89,342","116,000",21.98,962.0,Amman,"25,108",125.6,0.80%,JOD,2.76,1.10%,$1.10,"$43,743,661,972",81.50%,34.40%,13.9,Amman,74.4,46.0,$1.49,Arabic,25.10%,2.32,"10,101,694",39.30%,15.10%,28.60%,14.72%,"9,213,048",30.585164,36.238414

In [57]:
global_data.columns
global_data.dtypes
global_data.shape

(195, 35)

Data cleaning

In [58]:
missing_values_count = global_data.isnull().sum()
missing_values_count

Country                                       0
Density\n(P/Km2)                              0
Abbreviation                                  7
Agricultural Land( %)                         7
Land Area(Km2)                                1
Armed Forces size                            24
Birth Rate                                    6
Calling Code                                  1
Capital/Major City                            3
Co2-Emissions                                 7
CPI                                          17
CPI Change (%)                               16
Currency-Code                                15
Fertility Rate                                7
Forested Area (%)                             7
Gasoline Price                               20
GDP                                           2
Gross primary education enrollment (%)        7
Gross tertiary education enrollment (%)      12
Infant mortality                              6
Largest city                                  6
Life expectancy                               8
Maternal mortality ratio                     14
Minimum wage                                 45
Official language                             5
Out of pocket health expenditure              7
Physicians per thousand                       7
Population                                    1
Population: Labor force participation (%)    19
Tax revenue (%)                              26
Total tax rate                               12
Unemployment rate                            19
Urban_population                              5
Latitude                                      1
Longitude                                     1
dtype: int64

In [59]:

missing_values = missing_values_count[missing_values_count>0]
print(missing_values)

Abbreviation                                  7
Agricultural Land( %)                         7
Land Area(Km2)                                1
Armed Forces size                            24
Birth Rate                                    6
Calling Code                                  1
Capital/Major City                            3
Co2-Emissions                                 7
CPI                                          17
CPI Change (%)                               16
Currency-Code                                15
Fertility Rate                                7
Forested Area (%)                             7
Gasoline Price                               20
GDP                                           2
Gross primary education enrollment (%)        7
Gross tertiary education enrollment (%)      12
Infant mortality                              6
Largest city                                  6
Life expectancy                               8
Maternal mortality ratio                     14
Minimum wage                                 45
Official language                             5
Out of pocket health expenditure              7
Physicians per thousand                       7
Population                                    1
Population: Labor force participation (%)    19
Tax revenue (%)                              26
Total tax rate                               12
Unemployment rate                            19
Urban_population                              5
Latitude                                      1
Longitude                                     1
dtype: int64

In order to clean, fill up empty values in data set we want to add series "continent" to interpolate data from the continent's mean

In [ ]:
#adding countries regions from different data set
global_data2 = pd.read_csv('countries of the world.csv')
global_data2.head()
#global_data2.shape

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN

In [61]:
global_data.shape
global_data.head()

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,Latitude,Longitude
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",33.939110,67.709953
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",41.153332,20.168331
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",28.033886,1.659626
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",42.506285,1.521801
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",-11.202692,17.873887

In [62]:
#DO NOT USE. OLD METHOD 22 countries were not matched because of little bit different names
#global_data['Country'] = global_data['Country'].str.strip().str.lower()
#global_data2['Country'] = global_data2['Country'].str.strip().str.lower()

#global_data = pd.merge(global_data2[['Country', 'Region']],global_data, on='Country', how='right')

In [63]:
#matching the countries using Fuzzy matching 
import difflib
def get_best_match(country, reference_list):
    matches = difflib.get_close_matches(country, reference_list)
    return matches[0] if matches else country  # Return the country itself if no match is found

# Apply the function to the 'Country' column in global_data2
global_data['Country'] = global_data['Country'].apply(lambda x: get_best_match(x, global_data2['Country']))
global_data = pd.merge(global_data2[['Country', 'Region']],global_data, on='Country', how='right')
nan_count = global_data['Region'].isna().sum()
print(nan_count)

13